.container {
  display: flex;
}

.line-numbers {
  padding: 10px;
  background-color: #f0f0f0;
  text-align: right;
  user-select: none;
  overflow-y: hidden;
}

.line-numbers div {
  height: 20px; /* Adjust based on the line height of the textarea */
}

.textarea {
  flex-grow: 1;
  height: 200px;
  padding: 10px;
  font-family: monospace;
  font-size: 14px;
  line-height: 20px; /* Match this with the line height of the line numbers */
  border: none;
  outline: none;
  color: #5F6065;
  background-color: #F9F9F9;
  color: #000;
  resize: none;
  overflow-y: auto;
}
.copy-snippet-btn{
  border-radius: 15%;
  background-color: #5551ff; 
}