

// .container {
//   display: flex;
//   position: relative;
//   width: 100%; /* Ensure full width of the container */
//  /* Set a height for the container */
// }
.container {
  display: flex;
  position: relative;
  // height: 200px; /* Set a height for the container */
  width: 100%;
}

.line-numbers {
  padding: 10px;
  background-color: #f4f4f4;
  text-align: right;
  user-select: none;
  overflow-y: hidden; /* Hide overflow */
  border-right: 1px solid #ccc; /* Optional: add a border for separation */
}

.line-numbers div {
  height: 20px; /* Adjust based on the line height of the textarea */
  color: black; /* Set line numbers text color to black */
}

.textarea {
  background-color: #f4f4f4;
  // flex-grow: 1; /* Allow textarea to grow */
  padding: 10px;
  font-family: monospace;
  width: 100%;
  font-size: 14px;
  line-height: 20px; /* Match this with the line height of the line numbers */
  resize: none;
  overflow-y: auto; /* Enable vertical scrolling */
  color: black; /* Set textarea text color to black */
  border: none; /* Remove the border */
  outline: none; /* Remove the outline when focused */
  height: 100%; /* Ensure textarea takes the full height of the container */
}

.copy-snippet-btn {
  position: absolute; /* Position button absolutely within the container */
  top: 10px; /* Distance from the top */
  right: 10px; /* Distance from the right */
  z-index: 100; /* Ensure the button is above the textarea */
  background-color: #8d47ed; /* Button color */
  color: white; /* Text color */
  border: none; /* Remove border */
  padding: 5px 10px; /* Adjust padding for better height */
  cursor: pointer; /* Change cursor on hover */
  border-radius: 4px; /* Round the corners */
  height: 2vw; /* Set a fixed height for the button */
  width: auto; /* Width based on content */
  text-transform: none; /* Prevent uppercase transformation */
  white-space: nowrap; /* Prevent text wrapping */
}

// .copy-snippet-btn:hover {
//   background-color: #7d39ec; /* Darker red on hover */
// }








.box {
  flex: 1; /* This makes the boxes take equal space */
  height: 100%; /* Full height of the container */
  padding: 20px;
  width: 100%;
  // box-sizing: border-box;
  // border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1 {
  
}

.box2 {

}

.small-box {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  width: 100px; /* Fixed width */
  height: 50px; /* Fixed height */
  // border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
