.sidebar {
    display: flex;
    flex-direction: column;
    width: 250px; // Adjust the width as needed
    height: 100vh;
    background-color: #f4f4f4; // Background color for the sidebar
    border-right: 1px solid #ddd;
  
    .sidebar-header {
      display: flex;
      align-items: center;
      padding: 16px;
      background-color: #fff; // Background for the header
    }
  
    .logo {
      font-weight: bold;
      display: flex;
      align-items: baseline;
  
      .logo-surface {
        color: black; // Black color for "surface"
      }
  
      .logo-labs {
        color: #f4f4f4; // White color for "labs"
        background-color: blue; // Blue background for "labs"
        padding: 0 4px; // Optional padding for better spacing
        border-radius: 4px; // Optional rounded corners
      }
    }
  
    .sidebar-nav {
      flex-grow: 1; // Allow the nav to take remaining space
      overflow-y: auto; // Make it scrollable if content overflows
  
      .sidebar-item {
        text-align: left; // Align text to the left
        justify-content: flex-start; // Align items to the left
        padding: 16px;
        color: #383F5080; // Add padding for better spacing
  
        &:hover {
          background-color: rgba(0, 0, 0, 0.05); // Optional hover effect
        }
      }
  
      .selected {
        color: navy; // Change text color to navy for the selected item
        font-weight: bold; // Optional: make it bold
        background-color: #2c2c2c; 
        color:white;// Optional: background color for selected state
      }
    }
  
    .sidebar-footer {
      padding: 16px;
      background-color: #f4f4f4; // Ensure background is same as header
      margin-top: auto; // Push the footer to the bottom
  
      .profile {
        display: flex;
        align-items: center; // Center items vertically
        margin-top: 16px; // Add margin on top
  
        .profile-pic {
          width: 40px; // Adjust size as needed
          height: 40px; // Adjust size as needed
          border-radius: 50%; // Make it circular
          margin-right: 12px; // Space between picture and text
        }
  
        .full-name {
          font-weight: bold; // Bold for full name
          color: black; // Change full name text to black
        }
  
        .email {
          color: gray; // Faint color for email
        }
      }
    }
  
    // Remove border and shadow from accordion
    .MuiAccordion-root {
      box-shadow: none; // Remove shadow
      border: none; // Remove border
      background-color: #f4f4f4;
      
    }
  
    // Set accordion background to white
    .MuiAccordionDetails-root {
      background-color: #f4f4f4; // Set background color to white
    }
  }
  